* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    color-scheme: light;
} 

img {
    max-width: 100%;
} 

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.sec-header {
    font-size: 14px;
    padding: 76px 0 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cronometro {
        opacity: .9;
    }

    &__recorde {
        opacity: .5;
    }
}

.sec-navbar {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    &__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        list-style: none;

        &__item {
            &__link {
                opacity: .3;

                i {
                    color: #000;
                }

                &:hover {
                    opacity: .6;
                }
            }
            
        }
    }
}

main {
    
    .sec-cards {

        .wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
            .flip-box {
                background-color: transparent;
                width: 120px;
                height: 169px;
                perspective: 1000px;
                margin: 12px;
                cursor: pointer;
    
                @media (max-width: 768px) {
                    width: 60px;
                    height: 85px;
                    margin: 2.5px;
                }
            
                .flip-box-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                }
            
                &.active, &.checked {
                    .flip-box-inner {
                        transform: rotateY(180deg);
                    }
                }
            
                .flip-box-front, .flip-box-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
            
                    img {
                        max-width: 100%;
                        height: 100%;
                    }
                }
            
                .flip-box-back {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.sec-footer {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0 0;

    &__text {
        text-align: center;
        font-size: 10px;
        color: #000;
        opacity: .7;

        &__link {
            color: #000;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;

    &.active {
        display: block;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        width: 100%;
        text-align: center;

        &__title {
            font-size: 16px;
            margin-bottom: 10px;
            color: #ef3340;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.9);
            line-height: 1.4;
        }

        &__button {
            &__share,
            &__refresh {
                display: block;
                cursor: pointer;
                color: #0018a8;
                margin: 0 0 10px;
            }
        }

    }
}